In [3]:
import pandas as pd
pd.DataFrame({'Name':['Muhammad Umar Jan','Awais Saddiqui'],'RegNo':['21PWCSE2000','21pwcse1993']},index=['Section=B','Section=A'])

                        Name        RegNo
Section=B  Muhammad Umar Jan  21PWCSE2000
Section=A     Awais Saddiqui  21pwcse1993

In [5]:
pd.Series([1,2,3,4,5,5])

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [7]:
pd.Series([2000,1993,1979],index = ['Umar','Awais','Kashif'],name = 'student name with RegNo')

Umar      2000
Awais     1993
Kashif    1979
Name: student name with RegNo, dtype: int64

In [12]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
df = pd.read_csv(r'C:\Users\JAN\pandas prac\.ipynb_checkpoints\aa1.csv')

In [23]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [24]:
df.describe()

              Year
count  41715.00000
mean    2017.00000
std        2.58202
min     2013.00000
25%     2015.00000
50%     2017.00000
75%     2019.00000
max     2021.00000

In [26]:
df.shape

(41715, 10)

In [6]:
import pandas as pd

df = pd.read_csv(r'C:\Users\JAN\pandas prac\.ipynb_checkpoints\aa1.csv')

In [7]:
df = pd.read_csv(r'C:\Users\JAN\pandas prac\.ipynb_checkpoints\aa1.csv')

In [8]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [9]:
df.Industry_name_NZSIOC

0                    All industries
1                    All industries
2                    All industries
3                    All industries
4                    All industries
                    ...
41710    Food product manufacturing
41711    Food product manufacturing
41712    Food product manufacturing
41713    Food product manufacturing
41714    Food product manufacturing
Name: Industry_name_NZSIOC, Length: 41715, dtype: object

In [14]:
df['Units'][0]

'Dollars (millions)'

In [20]:
df.iloc[1,2]

'99999'

In [48]:
df.loc[10]

Year                                                                        2021
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H14
Variable_name                  Salaries and wages to self employed commission...
Variable_category                                          Financial performance
Value                                                                      2,085
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 10, dtype: object

In [21]:
df.iloc[:,0]

0        2021
1        2021
2        2021
3        2021
4        2021
         ...
41710    2013
41711    2013
41712    2013
41713    2013
41714    2013
Name: Year, Length: 41715, dtype: int64

In [26]:
df.loc[0:4,'Industry_name_NZSIOC']

0    All industries
1    All industries
2    All industries
3    All industries
4    All industries
Name: Industry_name_NZSIOC, dtype: object

In [28]:
df.loc[100:200,'Industry_name_NZSIOC']

100    Horticulture and Fruit Growing
101    Horticulture and Fruit Growing
102    Horticulture and Fruit Growing
103    Horticulture and Fruit Growing
104    Horticulture and Fruit Growing
                    ...
196              Dairy Cattle Farming
197              Dairy Cattle Farming
198              Dairy Cattle Farming
199              Dairy Cattle Farming
200              Dairy Cattle Farming
Name: Industry_name_NZSIOC, Length: 101, dtype: object

In [30]:
df.iloc[0:4,5:100]

,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...

In [31]:
df.loc[0:10,['Units','Variable_code']]

                 Units Variable_code
0   Dollars (millions)           H01
1   Dollars (millions)           H04
2   Dollars (millions)           H05
3   Dollars (millions)           H07
4   Dollars (millions)           H08
5   Dollars (millions)           H09
6   Dollars (millions)           H10
7   Dollars (millions)           H11
8   Dollars (millions)           H12
9   Dollars (millions)           H13
10  Dollars (millions)           H14

In [34]:
df.set_index('Units')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Units,,,,,,,,,
Dollars (millions),2021,Level 1,99999,All industries,H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
Dollars (millions),2021,Level 1,99999,All industries,H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
Dollars (millions),2021,Level 1,99999,All industries,H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
Dollars (millions),2021,Level 1,99999,All industries,H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
Dollars (millions),2021,Level 1,99999,All industries,H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
Percentage,2013,Level 3,ZZ11,Food product manufacturing,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Percentage,2013,Level 3,ZZ11,Food product manufacturing,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Percentage,2013,Level 3,ZZ11,Food product manufacturing,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Percentage,2013,Level 3,ZZ11,Food product manufacturing,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
Percentage,2013,Level 3,ZZ11,Food product manufacturing,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [41]:
df.loc[(df.Year=='2021')|(df.Variable_code=='H04')]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
32,2021,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),H04,Sales of goods and services,Financial performance,"45,650",ANZSIC06 division A
63,2021,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"4,925","ANZSIC06 groups A011, A012, and A013"
93,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"4,925","ANZSIC06 groups A011, A012, and A013"
123,2021,Level 3,AA12,"Sheep, Beef Cattle and Grain Farming",Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"10,965",ANZSIC06 groups A014 and A015
...,...,...,...,...,...,...,...,...,...,...
41520,2013,Level 4,RS113,Gambling Activities,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"3,436",ANZSIC06 group R920
41552,2013,Level 3,RS21,Other Services,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"7,199","ANZSIC06 division S (excluding classes S9540, ..."
41584,2013,Level 4,RS211,Repair and Maintenance,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"4,299","ANZSIC06 groups S941, S942, and S949"
41616,2013,Level 4,RS212,"Personal Care, Funeral and Other Personal Serv...",Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"1,630","ANZSIC06 groups S951, S952, and S953"
41648,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"1,270",ANZSIC06 group S955

In [45]:
df.loc[df.Year.isin([2021])]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
4630,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,77,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4631,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,27,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4632,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,9,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4633,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,4,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
4634,2021,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,45,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [47]:
df.loc[df.Year.isnull()]

Empty DataFrame
Columns: [Year, Industry_aggregation_NZSIOC, Industry_code_NZSIOC, Industry_name_NZSIOC, Units, Variable_code, Variable_name, Variable_category, Value, Industry_code_ANZSIC06]
Index: []